<ul class="nav nav-underline menu-2 d-flex">
    <li class="nav-item">
    <a
        class="nav-link mx-2 {{{n1}}}"
        href="/project/home"
        >Overview</a
    >
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n2}}}" href="/requirement">Requirements</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n3}}}" href="/release">Releases</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n4}}}" href="/modules-view">Modules</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n5}}}" href="/test_cases">Test Cases</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n6}}}" href="/test-runs-view">Test Runs</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n7}}}" href="/test-plan">Test Plans</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n8}}}" href="/issues-view">Issues</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n9}}}" href="/reports-view">Reports</a>
    </li>
    <li class="nav-item">
    <a class="nav-link mx-2 {{{n10}}}" href="/project/home">Activity log</a>
    </li>
</ul>